@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgb(44, 0, 0);
    background: rgba(219, 158, 45, 0.158);
}
h1 {
    padding-left: 110px;
}
.information {
    font-style: italic;
    margin-left: 110px;
    margin-bottom: 100px;
    font-size: 14px;
        }

.feedback {
    background: #ddd;
    border: 1px solid darkblue;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    }
.feedback h2 {
    text-align: center;
    width: 100%;
}
.block {
    border-top: 1px solid darkorange;
}

.container {
    margin: auto;
    padding: 15px;
    max-width: 700px;
}
img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.btn {
    width: 150px;
}

.btn:hover {
 color: blueviolet;
 background: rgb(171, 236, 128);
 cursor: pointer;
 font-weight: bold;
 transition: all .2s;
}

a {
    text-decoration: none;
    color: rgb(184, 63, 63);
    font-weight: bold;
}

a:hover {
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

a:visited {
    color: black;
}
a:active {
    color: rgb(255, 0, 0);
}

table {
    width: 100%;
    font-style: italic;
    border: 1px solid black;
    }
table td {
    padding-bottom: 8px;
    padding-top: 4px;
}

table tr:nth-child(odd) {
    background: rgba(76, 192, 92, 0.151);
}
table tr:first-child {
    background: rgba(255, 166, 0, 0.521);
    text-align: center;
}

table tr:hover {
    background: #fff;
}
table td:hover {
    background: #eee;
}

ol li:hover {
    background: #fff;
}

.form-row {
  margin-bottom: 10px;
}

.form-row .form-group {
    display: inline-block;
    margin-right: 20px;
    width: 45%;

}

.form-group label {
    display: block;
    font-size: 14px;
}


.form-group input .form-group textarea {
    width: 90%;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    padding: 15px 0 15px;
    outline: none;
    color: black;
}    

